body{
    background-color: #0b1b36;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: grey;
    margin: 0;
    padding: 0;
   }
.entona{
    color: #1bf8f8;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0b1b36;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    border-top: 0px;
    border-left: 0px;
    border-bottom: 15px;
    border-image: linear-gradient(#151521, #0b1b36) 50;
    border-style: solid;
}
.indx{
    background-color: #0b1b36;
    color: gray;
    display: flex;
    align-items: center;
}
.resumebtn{
    background-color: #0b1b36;
    color: #1bf8f8;
    border: 1px solid #1bf8f8;
    border-radius: 4px;
    margin: 10px 15px 10px 0;
    padding: 10px 12px;
}
                    /* TELOS NAVBAR */

.maincontent{
    margin-top: 100px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr 20px;
    gap: 3rem;
}
.header{
    color: white;
}
.gramoulitsa{
    position: absolute;
    background: #1bf8f8;
    height: 1px;
    width: 12rem;
    left: 15.5rem;
    top: 8.5rem;
}
.picbox{
    position: relative;
    width: fit-content;
    height: fit-content;
    top: 5rem;
    
}
.pic{
    width: 12rem;
    
}
.pozeria{
    position: absolute;
    border: 2px solid #1bf8f8;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 2%;
    height: 12rem;
    width: 12rem;
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 0 100%, 0 90%);
    z-index: -1;
}


.listcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    list-style: none;
}
.ul{
    padding-left: 0;
}

.list:before {
        border-style: solid;
        border-width: 0.10em 0.10em 0em 0em;
        border-color: #1bf8f8;
        content: '';
        display: inline-block;
        height: 0.45em;
        left: 0.15em;
        position: relative;
        top: 0.3em;
        transform: rotate(-45deg);
        vertical-align: top;
        width: 0.45em;
        left: 0;
        transform: rotate(45deg);
        margin-right: 20px;
        
}

.fbprof{
writing-mode: vertical-rl;
align-self: flex-end;
color: white;
text-decoration: none;
cursor: pointer;
}
